@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Montserrat', sans-serif !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  height: 100vh !important;
}

.ant-layout-header span svg {
  height: 25px !important;
  width: 25px !important;
  margin-left: 10px !important;
}

.logo {
  text-align: center;
  font-size: 30px !important;
}

.logo h1 {
  color: white !important;
}

.ant-layout-content {
  margin: 0 !important;
  padding: 10px !important;
}

.sweet-loading {
  position: fixed !important;
  top: 30% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 9999;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #001529 !important;
  color: white !important;
  border-radius: 6% !important;
}

.loginPage {
  /* background-color: #001529; */
  background-color: #26003b;
  /* background-image: linear-gradient(#26003B, #26003B , #9100E6) !important; */
}

.loginPageLogo {
  color: white;
  padding: 10rem;
  font-size: 20rem;
}

.login {
  /* background-color: #001529; */
  background-color: #26003b;
  padding-top: 150px;
  padding-bottom: 150px;
  /* background-image: linear-gradient(#26003B, #9100E6, #26003B) !important; */
}

.register {
  /* background-color: #001529; */
  background-color: #26003b;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
  width: 100vw;

  /* background-image: linear-gradient(#26003B, #9100E6, #26003B) !important; */
}

.arrow {
  position: relative;
  bottom: 35rem;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

.contactPage h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.contact__container input,
.contact__container textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem !important;
  background: transparent;
  border: 1.5px solid #001529 !important;
  resize: none;
  color: black;
  transition: all 400ms ease !important;
}

.contact__container input:hover,
.contact__container textarea:hover {
  border: 2px solid #26003b !important;
}

form button {
  transition: all 400ms ease !important;
  border-radius: 0.5rem !important;
  border-color: transparent !important;
}

form button:hover {
  background: transparent !important;
  color: rgb(8, 17, 47) !important;
  border: 2px solid rgb(9, 9, 77) !important;
}

/* .cancelBookingBtn {
  color: maroon !important;
  background-color: rgb(224, 131, 162) !important;
  border: 1px solid maroon !important;
  padding: 0.4rem !important;
  padding-top: 0.05rem !important;
  padding-bottom: 0.05rem !important;
  left: 150% !important;
  right: 100% !important;
} */

.cancelBookingBtn:hover {
  color: white !important;
  background-color: rgb(168, 11, 11) !important;
  border: 1px solid maroon !important;
  cursor: pointer !important;
}

.snackBar {
  position: flex;
  top: 4rem !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#logoName {
  animation-duration: 2s;
  animation-name: bounceInDown;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-character,
.registerLogo {
  -webkit-text-stroke: 1px white;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

Input {
  border-radius: 2% !important;
}

Input:hover {
  background-color: white !important;
}

.registerLogo {
  position: relative;
  top: 7rem;
  left: -5rem;
  font-size: 10rem;
}

.loginATag {
  padding-top: 20px !important;
  color: blue !important;
}

.loginATag:hover {
  color: white !important;
}

.flex {
  display: flex !important;
  align-items: center !important;
}

.register-flex {
  display: flex !important;
}

.homepage-pTag {
  font-weight: 500 !important;
  margin: 2px !important;
  padding: 2px !important;
  font-size: 15px !important;
}

.job-div {
  border-radius: 8px !important;
}

.job-div Button {
  border-radius: 8px !important;
}

.job-div:hover {
  cursor: pointer;
  transform: scale(1.01) !important;
  transition: all ease-in-out 200ms !important;
}

input,
.ant-input {
  border: 1px solid !important;
}

input,
.bookingSlot {
  padding: 0.2rem !important;
  padding-left: 0.5rem !important;
}

.bookDateRange,
.timeRange {
  border: 2px solid rgb(23, 23, 128) !important;
}

/* .bookingFlex {
  display: flex !important;
  align-items: stretch !important;
} */

.ant-message {
  z-index: 9999 !important;
}

.ant-btn {
  height: 33px !important;
}

.registerForm Input {
  width: 30vw !important;
  margin-right: -170px !important;
}

.registerForm Button {
  left: 5rem;
}

.loginForm Input {
  width: 30vw !important;
  margin-right: -170px !important;
}

.loginForm Button {
  left: 5rem;
}

.ProfileTab Form {
  width: 80vw !important;
}

.AddMoreButton {
  margin: auto;
}

.DeleteButton {
  margin: auto;
}

.FilterTab Select {
  position: absolute;
  width: 80% !important;
}
